input[type=message], input[type=email], input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* some padding */
    border: 1px solid #ccc; /* Gray borders */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box;
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px;
    resize: vertical /* Allows user to vervically resize the textarea */
}

/* style the submit */
button[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}


/* Hide streamlit Branding */
#Mainmenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}